
<p>
  {{product.name}} is full of expensive organic shit that rich people can afford to have poor people produce.  it costs {{product.cost}}, an amount that would feed an average family of four, but you're not an average asshole, damnit. this jam is {{product.description}}, and you will love it bitches!
</p>
