<h1>Welcome to Fancy Jams</h1>

<p>
  Buy and eat all the jam!
</p>

<ul>
  {{#each model as |product|}}
  <li>{{#link-to 'product' product.id}}{{product.name}}{{/link-to}}</li>
  {{/each}}
</ul>

<hr>

{{display-cart}}

<hr>
